<div class="copyright">
    {% if articles %}
    {% set copy_date = articles[0].date.strftime('%Y') %}
    {% else %}
    {% set copy_date = '' %}
    {% endif %}
    &copy; {{ copy_date }} {{ AUTHOR }}
    &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
    <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
    <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>,
    Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>
    <!--<div style='margin:0 auto;width:40%;height:40%;'><img src='/static/images/coding.svg'/>-->
</div>
