{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}
{% if articles %}
{% set arch_date = articles[0].date.strftime('%Y') %}
<div id="wrapper">
    <div class="post">
        <header>
            <h1>归档</h1>
            <h2 class="headline">{{arch_date}}</h2>
        </header>
    </div>
    <ul id="post-list">
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <li><a href="/{{ article.url }}">
            <aside class="dates">{{ article.date|strftime('%Y-%m-%d') }}</aside>
        </a><a href="{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{
            article.subtitle
            }}{% endif %}</a></li>
        {% endfor %}
    </ul>
</div>
{%endif%}
{% endblock %}