{% extends "base.html" %}
{% block title %}{{SITENAME}}{% endblock %}
{% block content %}
{% if articles %}
<div id="wrapper">
    <div class="article-list">
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <div class="excerpt">
            <div class="post">
                <div class="header center-block">
                    <h1><a href="/{{ article.url }}">{{ article.title }}</a></h1>
                    <h2 class="headline">{{ article.date|strftime('%Y-%m-%d') }} {{article.place}} </h2>
                </div>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                <div>
                    {% include "includes/article_info.html" %}
                </div>
                {% endif %}
                <div>{{ article.summary }}</div>
                <div class="center-block">
                    {% include 'includes/comment_count.html' %}
                    <a class="btn" href="/{{ article.url }}">--READ MORE--</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="post-container">
            {% include 'includes/ias_pagination.html' %}
        </div>
    </div>
</div>
{% endblock content %}


