<!DOCTYPE html>
{% if USE_OPEN_GRAPH is not defined %}
{% set USE_OPEN_GRAPH = True %}
{% endif %}
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
    {% include 'includes/ga.html' %}
    <title>{% block title %}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {# Favicons are a touchy subject. For reasoning for the following code, see:
    http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
    <link href="{{ FAVICON }}" rel="icon">
    {% endif %}
    {% if FAVICON_IE %}
    <!--[if IE]>
    <link rel="shortcut icon" href="{{ FAVICON_IE }}"><![endif]-->
    {% endif %}
    {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ TOUCHICON }}">
    {% endif %}

    <div id='wx_pic' class="hidden" style="display: none"><img
            src='/static/images/{% block wechat_pic %}{{DEFAULT_WECHAT_PIC}}{% endblock %}'/></div>

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}"/>
    {% endblock %}

    {# Open Graph tags #}
    {% if USE_OPEN_GRAPH %}
    {% block opengraph %}
    <!-- Open Graph tags -->
    {% if OPEN_GRAPH_FB_APP_ID %}
    <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:url" content="/"/>
    <meta property="og:description" content="{{ SITENAME }}"/>
    {% if OPEN_GRAPH_IMAGE %}
    <meta property="og:image"
          content="/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
    {% endblock %}
    {% endif %}

    <script src="/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
    <script src="/{{ THEME_STATIC_DIR }}/js/highcharts.js"></script>
    <script src="/{{ THEME_STATIC_DIR }}/js/exporting.js"></script>
    <script src="/{{ THEME_STATIC_DIR }}/js/jquery-ias.min.js"></script>
    <script src="/{{ THEME_STATIC_DIR }}/js/prism.js"></script>
    {#
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/fancybox/source/jquery.fancybox.css" type="text/css"
          media="screen"/>
    <script type="text/javascript" src="/{{ THEME_STATIC_DIR }}/fancybox/source/jquery.fancybox.pack.js"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/fancybox/source/helpers/jquery.fancybox-buttons.css"
          type="text/css" media="screen"/>
    <script type="text/javascript"
            src="/{{ THEME_STATIC_DIR }}/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript"
            src="/{{ THEME_STATIC_DIR }}/fancybox/source/helpers/jquery.fancybox-media.js"></script>

    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/fancybox/source/helpers/jquery.fancybox-thumbs.css"
          type="text/css" media="screen"/>
    <script type="text/javascript"
            src="/{{ THEME_STATIC_DIR }}/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
    #}
    <script type="text/javascript"
            src="/{{ THEME_STATIC_DIR }}/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/prism.css"/>
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/style.css"/>
    {% if FEED_ALL_ATOM %}
    <link href="/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
    <link href="/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{GOOGLE_GMT}}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="main-nav">
    <a href="/">首页</a>
    <a href="/archives.html">归档</a>
    <a class="mob-hidden" href="/feeds/all.atom.xml">订阅</a>
</nav>

{% block content %}
{% endblock %}
{% include 'includes/footer.html' %}


{% include 'includes/github-js.html' %}

<script src="/{{ THEME_STATIC_DIR }}/js/theme.js"></script>
{% include 'includes/ba.html' %}
{% block scripts %}{% endblock %}

</div>
</body>
</html>
