{% extends "base.html" %}
{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block content %}
<div id="wrapper">
    <header class="post">
        <header>
            <h1>All Categories for {{ SITENAME }}</h1>
        </header>
        {% for category, articles in categories|sort %}
        <div class="list-content">
            <header>
                <a name="{{tag}}"></a>
                <h2 class="headline">{{category}}</h2>
            </header>
            <ul id="post-list">
                {% for article in articles %}
                <li>
                    <a href="/{{ article.url }}">
                        <aside class="dates">{{ article.date|strftime('%Y-%m-%d') }}</aside>
                    </a>
                    <a href="{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{%
                        endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {%endfor%}
</div>
</div>
{% endblock %}
