{% extends "base.html" %}
{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block content %}
<div id="wrapper">
    <div class="post">
        <div class="header">
            <h1>All Categories for {{ SITENAME }}</h1>
        </div>
        <div class="list-category">
            {% for category, articles in categories %}
            <h2>{{ category }}({{ articles|count }})</h2>
            {% for article in articles %}
            <p>
            <span class="dates"><time
                    datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                <a href="/{{ article.url }}">{{ article.title }}</a>
            </p>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
