{% extends "base.html" %}
{% block title %}Tags - {{ SITENAME }}{% endblock %}
{% block content %}
<div id="wrapper">
    <div class="post">
        <div class="tag-list">
            <div id="tags">
                {% for tag, articles in tags|sort %}
                <a href="tags.html#{{tag}}">{{tag}}<sup>{{ articles|count }}</sup></a>
                {% endfor %}
            </div>
        </div>
        {% for tag, articles in tags|sort %}
        <div class="list-content">
            <header>
                <a name="{{tag}}"></a>
                <h1>{{tag}}</h1>
            </header>
            <ul id="post-list">
                {% for article in articles %}
                <li>
                    <a href="/{{ article.url }}">
                        <aside class="dates">{{ article.date|strftime('%Y-%m-%d') }}</aside>
                    </a>
                    <a href="{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{%
                        endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
